<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/retail/home" style="color:#0283e8; padding: 5px">Retail Application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/retail/user" style="color:black;font-size: 18px">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/retail/product" style="color:black;font-size: 18px">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/retail/transaction" style="color:black;font-size: 18px">Transaction</a>
                </li>
            </ul>
            <a class="authorize__btn_operation_logout" href="/retail/logout">Logout</a>
        </div>
        <hr>
    </nav>
    <hr style="border-width: 1px; background-color: #494949; margin-top: 1px">
</th:block>
</body>
</html>